@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

article.post {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  background-color: #fff;
  border: 1px solid color("light-gray");
  border-radius: 3px;

  @include mobile {
    margin-bottom: 0;
    border: none;
    background-color: color("background");
  }

  .post-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-info {
      display: flex;
      justify-content: center;
      align-items: center;

      .details {
        margin-left: 16px;

        .location {
          line-height: 1;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    .more-btn {
      color: color("primary");
      cursor: pointer;
    }
  }

  .post-img {
    position: relative;

    * {
      max-width: 100%;
      height: auto;
    }

    .post-icon-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      .post-icon {
        font-size: 64px;
        opacity: 0.95;
        color: #fff;
        filter: drop-shadow(0 19px 38px rgba(0, 0, 0, 0.7));

        &.animate {
          animation: 2s likeAnimation ease-in-out forwards;
        }
      }
    }
  }

  .post-controls {
    margin: 4px 0 0 0;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon-btn-wrapper {
      display: inline;

      &:first-of-type {
        margin-left: -8px;
      }

      &:last-of-type {
        margin-right: -8px;
      }
    }

    .bookmark-btn {
      &:not(.is-active):hover {
        opacity: 0.6;
      }

      &.is-active path {
        fill: color("primary");
      }
    }
  }

  .post-details {
    padding: 0 16px;

    .likes-number {
      font-size: 14px;
      font-weight: bold;
      color: color("primary");
      margin: 0 0 8px 0;
    }

    .content {
      font-size: 14px;
      color: color("primary");
    }

    .timestamp {
      font-size: 10px;
      color: color("medium-gray");
      margin-bottom: 4px;
      line-height: 1.4rem;
    }
  }

  .add-comment-form {
    @include mobile {
      display: none;
    }

    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    padding: 16px;
    border-top: 1px solid color("light-gray");

    .add-comment-textarea {
      resize: none;
      height: 1.3rem;
      color: color("primary");
      font-size: 14px;
    }

    .post-comment-btn {
      color: color("blue-accent-inactive");
      font-weight: bold;
      font-size: 14px;

      &.is-active {
        color: color("blue-accent");
        cursor: pointer;
      }
    }
  }
}

// Like animation
@keyframes likeAnimation {
  0% {
    width: 0;
  }
  5% {
    width: 100px;
  }
  10% {
    width: 70px;
  }
  20%,
  35% {
    width: 80px;
  }
  40%,
  100% {
    width: 0;
  }
}
