@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.home-page {
  padding: 30px 0 0 0;

  display: grid;
  grid-template-columns: 614px 293px;
  grid-template-areas: "main-content side-panel";
  gap: 30px;

  .main-content {
    grid-area: main-content;
  }

  .side-panel {
    grid-area: side-panel;
    margin: 12px 0 0 0;
  }
}

.loader {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-logo {
    width: 64px;
    height: 64px;
    color: color("light-gray");
  }
}

// TABLET VIEW
@include tablet {
  .home-page {
    display: inline-block;

    .side-panel {
      display: none;
    }
  }
}

// MOBILE VIEW
@include mobile {
  .home-page {
    padding: 1px 0;
  }
}
