@import "./assets/styles/variables";
@import "./assets/styles/mixins";

.App {
  margin-left: auto;
  margin-right: auto;
  width: 935px;
}

.user-img {
  max-width: 56px;
  max-height: 56px;
  border-radius: 50%;
}

.small-user-img {
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
}

.username {
  font-size: 14px;
  font-weight: bold;
  color: color("primary");
}

.small-text {
  font-size: 12px;
  color: color("medium-gray");
}

.plain-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

.icon-btn {
  width: 24px;
  height: 24px;
  padding: 8px;
  @include like-btn;
}

// TABLET VIEW
@include tablet {
  .App {
    width: 600px;
  }
}

@include mobile {
  .App {
    width: 100vw;
  }
}
