@import "../../../assets/styles/variables";

.suggested-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;

  .left-side {
    display: flex;
    align-items: center;

    p {
      line-height: 1.2rem;
      padding-left: 10px;
    }
  }

  .follow-btn {
    color: color("blue-accent");
    font-size: 12px;
    font-weight: 600;
  }
}
